<nav>
  <div class="brand-name">
    <h1 routerLink="/">Jwitter</h1>
  </div>
  <div class="navbar">
    <ul class="nav-links">
      <li class="link" *ngIf="this.api.isAuthenticated()">
        <a routerLink="/">Home</a>
      </li>
      <li class="link" *ngIf="this.api.isAuthenticated()">
        <a routerLink="/profile">Profile</a>
      </li>
      <li class="link">
        <a routerLink="/login" *ngIf="!this.api.isAuthenticated()">Login</a>
      </li>
      <li class="link" *ngIf="this.api.isAuthenticated()">
        <a (click)="logout()">Logout</a>
      </li>
      <li class="link" *ngIf="!this.api.isAuthenticated()">
        <a routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>